body {
    padding: 0;
    margin: 0 auto;
}

.container {
    display: grid;
    grid: minmax(400px, min-content) / repeat(auto-fill);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 60vw;
    height: 120vh;
    border: 3px solid black;
}

.color-box {
    border: 2px solid red;
    border-radius: 100%;

}
