body {
    padding: 0;
    margin: 0 auto;
    background-color: #14063A;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    padding: 5% 0;
}

.container {
    display: grid;
    /* grid: minmax(1fr, max-content) / repeat(auto-fill); */
    grid-template-columns: repeat(3, 1fr) minmax(40vh, max-content);
    grid-template-rows: repeat(3, 1fr) minmax(20vw, max-content);
    gap: 5%;
    width: 60vw;
    height: 120vh;
    /* border: 3px solid black; */
}

.color-box {
    /* border: 2px solid red; */
    border-radius: 100%;
    transition: 0.55s all;
}

.color-box:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#rgb {
    color: cyan;
    font-weight: 900;
    font-size: 1.3em;
    -webkit-text-stroke: 1px black;
}